body {
    width: 80%; 
    min-height: 50em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    background-color: #F9FBFB; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 1em;
}

a {
    color: blue; 
    text-decoration: none;
}

div {
    width: 80%;
    margin: auto;
    text-align: center;
}

p#error {
    color: red
}

ul {
    list-style: none;
    padding-left: 0;
}

.top {
    border-bottom: 2px solid darkgrey; 
    padding-bottom: 1em;
}

