<!DOCTYPE html>
<html>
   <body>
        <form>
        <input type="button" value="Go back!" onclick="history.back()">
       </form>
       <h1>Package</h1>
       <p>Name: {{name}}</p>
       <p>Desc: {{desc}}</p>
       <br>
       <h2>Depencies</h2>
       <ul>
           {% for dep in ins_dep %}
           <li><a href="#" id="{{dep}}" value="{{dep}}">{{dep}}</a></li>
           {% endfor %}
            {% for dep in not_ins_dep %}
            <li>{{dep}}</li>
            {% endfor %}
        </ul>
        <h2>Reverse depencies</h2>
        <ul>
            {% for dep in ins_rev_dep %}
            <li><a href="#" id="{{dep}}" value="{{dep}}">{{dep}}</a></li>
            {% endfor %}
             {% for dep in not_ins_rev_dep %}
             <li>{{dep}}</li>
             {% endfor %}
         </ul>
   </body>
   <script>
    const Post = (e) => {
       e.preventDefault()

       if(event.target.tagName !== "A"){
          return;
       };

       const form = document.createElement("form");
       form.method = "POST";
       form.action = "http://localhost:5000/data";
       
       const input = document.createElement("input");
       input.type = "hidden";
       input.name = "name";
       input.value = event.target.id;

       form.appendChild(input);
       document.body.appendChild(form);
       form.submit();
    }

    document.addEventListener("click", Post)
 </script>
</html>