<!DOCTYPE html>
<html lang="en" style="background-color: #3A4A4D">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poetry.lock visualizer</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  </head>
   <body>
      <div class="buttons">
         <form>
            <input type="button" value="Go back" onclick="history.back()">
         </form>
         <form>
            <input type="button" value="Return to depency list" onclick="parent.location='/index'">
         </form>
         <form>
            <input type="button" value="Upload another file" onclick="parent.location='/'">
         </form>
      </div>
       <div>
         <h1 class="top">{{name}}</h1>
         <p id="desc">{{desc}}</p>
      </div>
      <div>
         {% if ins_dep | length or not_ins_dep | length > 0 %}
         <h2>This package is dependant on:</h2>
         {% endif %}
         <ul>
            {% for dep in ins_dep %}
            <li><a href="#" id="{{dep}}" value="{{dep}}">{{dep}}</a></li>
            {% endfor %}
            {% for dep in not_ins_dep %}
            <li>{{dep}}</li>
            {% endfor %}
         </ul>
         {% if ins_rev_dep | length > 0 or not_ins_rev_dep | length > 0 %}
         <h2>These packages are dependant on {{name}}:</h2>
         {% endif %}
         <ul>
               {% for dep in ins_rev_dep %}
               <li><a href="#" id="{{dep}}" value="{{dep}}">{{dep}}</a></li>
               {% endfor %}
               {% for dep in not_ins_rev_dep %}
               <li>{{dep}}</li>
               {% endfor %}
            </ul>
      </div>
   </body>
   <script>
    const Post = (e) => {
       e.preventDefault()

       if(event.target.tagName !== "A"){
          return;
       };

       const form = document.createElement("form");
       form.method = "POST";
       form.action = "/data";
       
       const input = document.createElement("input");
       input.type = "hidden";
       input.name = "name";
       input.value = event.target.id;

       form.appendChild(input);
       document.body.appendChild(form);
       form.submit();
    }

    document.addEventListener("click", Post)
 </script>
</html>